.jumbotron {
    background-color: orange;
    color: black;
    margin-top: 50px;
}

.btn-reserva {
    width: 100%;
}

.productos {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}
div > h5 {
    color: brown;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: orange;
    margin-bottom: 0px;
    margin-top: 10px;
}

.footer-address-icon {
    padding-right: 10px;
}